


<h1>Slacker Newz</h1>


<%= link_to 'Sort by points', posts_path(@post, :sort_by => "points"), method: :get %> |
<%= link_to 'Sort by date', posts_path(@post, :sort_by => "date"), method: :get %>


<ul>
  <% @posts.each do |post| %>
   <div class="post-button">
      <td><%= button_to '+1', post_upvote_path(post), method: :post %></td>    </div>
      <a href='<%= post.url %>'><%= post.title %></a> (<%= post.url %>)<br>
      <%= post.points %> points by <%= post.user.name %> <%= distance_of_time_in_words(post.created_at, Time.now) %> ago |
      <%= link_to post.comments.count('text', :distinct => true).to_s + " Comments", post_path(post.id) %>
      <% if user_admin %><%= link_to "Edit", edit_post_path(post) %><%end%>
      <% if user_admin %><%= link_to "Delete", post_path(post), method: :delete %><%end%>

      <br><br>

  <% end %>
</ul>




<p><%= link_to "Add", new_post_path %></p>
