<h1>Hacker News </h1>

<% if @posts.any? %>

<ul>
  <% @posts.each do |post| %>
    <% upvoted_post = Post.find(post.id) %>
    <li><%= link_to 'Upvote', post_path(upvoted_post, post: { points: upvoted_post.points += 1 }), method: :patch %>
      <%= post.points %> <a href='<%= post.url %>'><%= post.title %></a></li>
  <% end %>
</ul>

<% else %>
  <p>There are no posts yet!</p>
<% end %>

<p><%= link_to "Add", new_post_path %></p>
