<h1>Hacker News </h1>

<% if @posts.any? %>

<ul>
  <% @posts.each do |post| %>
    <% upvoted_post = Post.find(post.id) %>
    <% current_time = Time.now %>

    <%= link_to '^', post_path(upvoted_post, post: { points: upvoted_post.points += 1 }), method: :patch %>
      <a href='<%= post.url %>'><%= post.title %></a> (<%= post.url %>)<br>
      <%= post.points %> points by <%= post.author %> <%= distance_of_time_in_words(post.created_at, current_time, options = {}) %> ago |
      <%= link_to 'discuss', post_path(post.id) %><br><br>
  <% end %>
</ul>

<% else %>
  <p>There are no posts yet!</p>
<% end %>

<p><%= link_to "Add", new_post_path %></p>
