<h1><%= @post.title %></h1>
<h3><%= @post.url %></h3>
<h6><%= @post.points.to_s %></h6>

<hr>

<h4>Comments</h4>
<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.text %>
        <%= comment.author %>
        <%= comment.created_at %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments yet.</p>
<% end %>

<%= render template: "comments/new" %>

<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Return to posts", posts_path %></p>
